@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Leaflet overrides */
.leaflet-container {
  height: 100%;
  width: 100%;
  font-family: inherit;
}
